* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    width: 70%;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    background-color: #212529;
    padding: .5em 7em 3em;
    grid-auto-flow: dense;

}

.gallery img{
    transition: transform .3s cubic-bezier(.48,.06,.69,1.57);
    border: #DEE2E6 2px solid;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #DEE2E6;
    margin: 0;
}



#gallery-search {
    padding: 1.5em 1em;
    margin-top: 1em;
    width: 25vw;
}

input::placeholder {
    text-align: left;
}

header {
    padding: 1em;
    background-color: #212529;
    width: 100vw;
}

h1 {
    color: #F8F9FA;
}

a img:hover {
    transform: scale(1.6);
}
